name: YouTube Netfree Crawler

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install yt-dlp
        run: |
          python -m pip install --upgrade pip
          pip install yt-dlp

      - name: Run Crawler
        run: python crawler.py

      - name: Commit and Push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          
          git add pending_check.json
          
          # ביצוע קומיט - אם אין שינויים הוא פשוט ימשיך הלאה (|| exit 0)
          git commit -m "Update pending queue [skip ci]" || exit 0
          
          # דחיפה פשוטה וישירה
          git push origin main
